<div class="headerBar">Kind Quest
</div>
<% if @acts.present? %>
  <div class="acts-container">
    <%= render partial: 'acts', object: @acts %>
  </div>

  <div class="scroll-status"></div>
<% else %>
  We are out of stuff to show
<% end %>


	  

<div class="footer">

<%= link_to("/") do%>
<label class="glyphicon glyphicon-plus plusPadding"></label>
<%end%> 
<%= link_to("/") do%>
<label class="glyphicon glyphicon-align-justify hambergPadding"></label>
<%end%> 
</div>

