<div class='container-fluid'>
   <div class='row'>
     <%= form_for @act, multipart: true, url: {action: "create"} do |f| %>
      <%= f.text_area 'description' %>
      <%= f.file_field 'image', accept: "image/*" %>
      <%= f.submit "Share Act" %>
    <% end %>
   </div>
</div>
